@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  margin: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}
.prevCommand {
  width: 100%;
  font-family: monospace;
  color: #e9e9e9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.prevCommand:hover, .prevCommand.activeCommand {
  background: #00dffc30;
}
.timestampText {
  padding: 0 0.25rem;
  color: #00a30e;
}
.commandText {
 flex-grow: 1;
 padding: 0 1rem;
}
.rerunSection {
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 0.2rem;
}
.runCommandBtn {
  width: 1rem;
  margin: 0 0.25rem;
  color: white;
  border-radius: 0.25rem;
  background-color: #00a30e;
  font-size: 1rem;
  line-height: 100%;
}

.currCommand {
  padding: 0.25rem;
  width: 100%;
  font-family: monospace;
  color: #e9e9e9;
  background-color: #444444;
}

.resultBlock {
  padding: 0.25rem;
  font-size: 0.8rem;
  font-family: monospace;
}
.errBlock {
padding: 0.25rem;
font-size: 0.8rem;
font-family: monospace;
}